In [4]:
# Import library untuk proses ekstraksi .zip
import io, requests, zipfile
import pandas as pd

In [3]:


# Request url API
contents = requests.get('https://maven-datasets.s3.amazonaws.com/Telecom+Customer+Churn/Telecom+Customer+Churn.zip')

# Proses pengambilan data pada url
io_content = io.BytesIO(contents.content)

# Proses ekstraksi .zip file
files = zipfile.ZipFile(io_content)

# Tampilkan nama file yang terdapat pada .zip folder
print(f'Nama file pada folder zip = {files.namelist()}')

Nama file pada folder zip = ['telecom_customer_churn.csv', 'telecom_data_dictionary.csv', 'telecom_zipcode_population.csv']

In [2]:
# Lakukan proses ekstraksi semua file
files.extractall()

In [5]:
data_chur = pd.read_csv('telecom_customer_churn.csv')
data_chur.head()

,Customer ID,Gender,Age,Married,Number of Dependents,City,Zip Code,Latitude,Longitude,Number of Referrals,...,Payment Method,Monthly Charge,Total Charges,Total Refunds,Total Extra Data Charges,Total Long Distance Charges,Total Revenue,Customer Status,Churn Category,Churn Reason
0,0002-ORFBO,Female,37,Yes,0,Frazier Park,93225,34.827662,-118.999073,2,...,Credit Card,65.6,593.30,0.00,0,381.51,974.81,Stayed,NaN,NaN
1,0003-MKNFE,Male,46,No,0,Glendale,91206,34.162515,-118.203869,0,...,Credit Card,-4.0,542.40,38.33,10,96.21,610.28,Stayed,NaN,NaN
2,0004-TLHLJ,Male,50,No,0,Costa Mesa,92627,33.645672,-117.922613,0,...,Bank Withdrawal,73.9,280.85,0.00,0,134.60,415.45,Churned,Competitor,Competitor had better devices
3,0011-IGKFF,Male,78,Yes,0,Martinez,94553,38.014457,-122.115432,1,...,Bank Withdrawal,98.0,1237.85,0.00,0,361.66,1599.51,Churned,Dissatisfaction,Product dissatisfaction
4,0013-EXCHZ,Female,75,Yes,0,Camarillo,93010,34.227846,-119.079903,3,...,Credit Card,83.9,267.40,0.00,0,22.14,289.54,Churned,Dissatisfaction,Network reliability

In [7]:
data_chur.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 38 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Customer ID                        7043 non-null   object
 1   Gender                             7043 non-null   object
 2   Age                                7043 non-null   int64
 3   Married                            7043 non-null   object
 4   Number of Dependents               7043 non-null   int64
 5   City                               7043 non-null   object
 6   Zip Code                           7043 non-null   int64
 7   Latitude                           7043 non-null   float64
 8   Longitude                          7043 non-null   float64
 9   Number of Referrals                7043 non-null   int64
 10  Tenure in Months                   7043 non-null   int64
 11  Offer                              7043 non-null   object
 12  Phone Service                      7043 non-null   object
 13  Avg Monthly Long Distance Charges  6361 non-null   float64
 14  Multiple Lines                     6361 non-null   object
 15  Internet Service                   7043 non-null   object
 16  Internet Type                      5517 non-null   object
 17  Avg Monthly GB Download            5517 non-null   float64
 18  Online Security                    5517 non-null   object
 19  Online Backup                      5517 non-null   object
 20  Device Protection Plan             5517 non-null   object
 21  Premium Tech Support               5517 non-null   object
 22  Streaming TV                       5517 non-null   object
 23  Streaming Movies                   5517 non-null   object
 24  Streaming Music                    5517 non-null   object
 25  Unlimited Data                     5517 non-null   object
 26  Contract                           7043 non-null   object
 27  Paperless Billing                  7043 non-null   object
 28  Payment Method                     7043 non-null   object
 29  Monthly Charge                     7043 non-null   float64
 30  Total Charges                      7043 non-null   float64
 31  Total Refunds                      7043 non-null   float64
 32  Total Extra Data Charges           7043 non-null   int64
 33  Total Long Distance Charges        7043 non-null   float64
 34  Total Revenue                      7043 non-null   float64
 35  Customer Status                    7043 non-null   object
 36  Churn Category                     1869 non-null   object
 37  Churn Reason                       1869 non-null   object
dtypes: float64(9), int64(6), object(23)
memory usage: 2.0+ MB

In [9]:
data_chur.shape

(7043, 38)

In [10]:
data_chur.values

array([['0002-ORFBO', 'Female', 37, ..., 'Stayed', nan, nan],
       ['0003-MKNFE', 'Male', 46, ..., 'Stayed', nan, nan],
       ['0004-TLHLJ', 'Male', 50, ..., 'Churned', 'Competitor',
        'Competitor had better devices'],
       ...,
       ['9992-UJOEL', 'Male', 22, ..., 'Joined', nan, nan],
       ['9993-LHIEB', 'Male', 21, ..., 'Stayed', nan, nan],
       ['9995-HOTOH', 'Male', 36, ..., 'Stayed', nan, nan]], dtype=object)

In [11]:
data_chur.columns

Index(['Customer ID', 'Gender', 'Age', 'Married', 'Number of Dependents',
       'City', 'Zip Code', 'Latitude', 'Longitude', 'Number of Referrals',
       'Tenure in Months', 'Offer', 'Phone Service',
       'Avg Monthly Long Distance Charges', 'Multiple Lines',
       'Internet Service', 'Internet Type', 'Avg Monthly GB Download',
       'Online Security', 'Online Backup', 'Device Protection Plan',
       'Premium Tech Support', 'Streaming TV', 'Streaming Movies',
       'Streaming Music', 'Unlimited Data', 'Contract', 'Paperless Billing',
       'Payment Method', 'Monthly Charge', 'Total Charges', 'Total Refunds',
       'Total Extra Data Charges', 'Total Long Distance Charges',
       'Total Revenue', 'Customer Status', 'Churn Category', 'Churn Reason'],
      dtype='object')

In [12]:
data_chur.index

RangeIndex(start=0, stop=7043, step=1)

In [14]:
# Rename column
data_chur = data_chur.rename(
    columns = {
        "Customer ID" : "Cust ID",
        "Avg Monthly Long Distance Charges" : "Avg Monthly Long Dist Charges"
    }
)

# Mengamati perubahan nama kolom
print(data_chur.columns)

Index(['Cust ID', 'Gender', 'Age', 'Married', 'Number of Dependents', 'City',
       'Zip Code', 'Latitude', 'Longitude', 'Number of Referrals',
       'Tenure in Months', 'Offer', 'Phone Service',
       'Avg Monthly Long Dist Charges', 'Multiple Lines', 'Internet Service',
       'Internet Type', 'Avg Monthly GB Download', 'Online Security',
       'Online Backup', 'Device Protection Plan', 'Premium Tech Support',
       'Streaming TV', 'Streaming Movies', 'Streaming Music', 'Unlimited Data',
       'Contract', 'Paperless Billing', 'Payment Method', 'Monthly Charge',
       'Total Charges', 'Total Refunds', 'Total Extra Data Charges',
       'Total Long Distance Charges', 'Total Revenue', 'Customer Status',
       'Churn Category', 'Churn Reason'],
      dtype='object')

In [15]:
# Mengambil satu kolom data sebagai series
cust_id = data_chur['Cust ID']

# Tampilkan data
display(cust_id)

0       0002-ORFBO
1       0003-MKNFE
2       0004-TLHLJ
3       0011-IGKFF
4       0013-EXCHZ
           ...
7038    9987-LUTYD
7039    9992-RRAMN
7040    9992-UJOEL
7041    9993-LHIEB
7042    9995-HOTOH
Name: Cust ID, Length: 7043, dtype: object

In [16]:
print(f'Tipe data cust id adalah {type(cust_id)}')

Tipe data cust id adalah <class 'pandas.core.series.Series'>

In [18]:
# Mengambil satu kolom data sebagai series
customer = data_chur[['Cust ID', 'Churn Category']]

# Tampilkan data
display(customer)

         Cust ID   Churn Category
0     0002-ORFBO              NaN
1     0003-MKNFE              NaN
2     0004-TLHLJ       Competitor
3     0011-IGKFF  Dissatisfaction
4     0013-EXCHZ  Dissatisfaction
...          ...              ...
7038  9987-LUTYD              NaN
7039  9992-RRAMN  Dissatisfaction
7040  9992-UJOEL              NaN
7041  9993-LHIEB              NaN
7042  9995-HOTOH              NaN

[7043 rows x 2 columns]

In [22]:
data_chur['Churn Category'].unique()

array([nan, 'Competitor', 'Dissatisfaction', 'Other', 'Price', 'Attitude'],
      dtype=object)

In [23]:
# Hapus kolom latitude dan long dari dataframe
data_chur = data_chur.drop(columns = ['Latitude', 'Longitude'])

# Tampilkan skema data setelah di drop
data_chur.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 36 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Cust ID                        7043 non-null   object
 1   Gender                         7043 non-null   object
 2   Age                            7043 non-null   int64
 3   Married                        7043 non-null   object
 4   Number of Dependents           7043 non-null   int64
 5   City                           7043 non-null   object
 6   Zip Code                       7043 non-null   int64
 7   Number of Referrals            7043 non-null   int64
 8   Tenure in Months               7043 non-null   int64
 9   Offer                          7043 non-null   object
 10  Phone Service                  7043 non-null   object
 11  Avg Monthly Long Dist Charges  6361 non-null   float64
 12  Multiple Lines                 6361 non-null   object
 13  Internet Service               7043 non-null   object
 14  Internet Type                  5517 non-null   object
 15  Avg Monthly GB Download        5517 non-null   float64
 16  Online Security                5517 non-null   object
 17  Online Backup                  5517 non-null   object
 18  Device Protection Plan         5517 non-null   object
 19  Premium Tech Support           5517 non-null   object
 20  Streaming TV                   5517 non-null   object
 21  Streaming Movies               5517 non-null   object
 22  Streaming Music                5517 non-null   object
 23  Unlimited Data                 5517 non-null   object
 24  Contract                       7043 non-null   object
 25  Paperless Billing              7043 non-null   object
 26  Payment Method                 7043 non-null   object
 27  Monthly Charge                 7043 non-null   float64
 28  Total Charges                  7043 non-null   float64
 29  Total Refunds                  7043 non-null   float64
 30  Total Extra Data Charges       7043 non-null   int64
 31  Total Long Distance Charges    7043 non-null   float64
 32  Total Revenue                  7043 non-null   float64
 33  Customer Status                7043 non-null   object
 34  Churn Category                 1869 non-null   object
 35  Churn Reason                   1869 non-null   object
dtypes: float64(7), int64(6), object(23)
memory usage: 1.9+ MB